// $ (this line is just to force the auto import of quasar sass variables)
@import "fonts";
@import "quasar-overrides";
@import "util";

@tailwind base;
@layer base {
  h1, h2, h3, h4, h5, h6 {
    // quasar sets line-height on the headings as well for material design, this clears it.
    line-height: inherit;
    @apply tracking-wide;
    @extend .Airborne;
  }

  h1, h2, h3 {
    @apply font-bold;
  }

  h1 {
    @apply text-2xl tracking-wide mb-6;
    @apply md:text-4xl;
  }

  h2 {
    @apply text-xl tracking-wide mb-5;
    @apply md:text-2xl;
    @extend .OpenSans;
  }

  h3 {
    @apply text-lg tracking-wide mb-5;
    @apply md:text-xl;
  }

  p {
    @apply text-base leading-loose mb-4;
  }
}
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;

  &::after {
    content: '';
    position: fixed; /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1; /* needed to keep in the background */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 35%, rgba(0, 0, 0, 0) 100%), url('~assets/bg.jpg') center center no-repeat;
    background-size: auto, cover;
  }
}

section {
  @apply py-28;
}

section.center {
  @apply container max-w-screen-lg mx-auto px-8;
  @apply md:px-12;
}
